<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace是需要和dao层下的接口保持完全一致的才行-->
<mapper namespace="cn.itcast.ssm.dao.ItemMapper">
    <!--parameterType代表的是参数类型-->
    <!--resultType代表的是返回结果集类型-->
    <select id="findById" parameterType="int" resultType="Item">
        select * from item where id = #{id}
    </select>
</mapper>